appnope
asttokens
backcall
blinker
certifi
charset-normalizer
click
decorator
executing
Flask
Flask-DebugToolbar
Flask-SQLAlchemy
Flask-WTF
gunicorn
idna
ipython
itsdangerous
jedi
Jinja2
MarkupSafe
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dotenv
requests
six
SQLAlchemy
stack-data
traitlets
urllib3
wcwidth
Werkzeug
WTForms
